<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{name}}</title>
        {{{_includes_}}}
        <link type="text/css" href="css/style.css"/>
    </head>
    <body>
        <div data-role="page" class="general-view" id="home" data-theme="{{#theme}}{{base}}{{/theme}}">

            <div data-role="header" class="ui-header" >
                <h1>{{header}}</h1>
            </div>

            <div class="center" style="text-align:center">
                <img src="{{topImage}}" />
                <p></p>
                <h4>{{tagline}}</h4>
            </div>
            
            <div data-role="content" class="ui-content" style="text-align:center">
                <p>  
                    <ul data-role="listview">
                    {{#pages}}
                    <li><a href="#page-{{id}}">{{title}}</a></li>
                    {{/pages}}
                    </ul>
                </p>
            </div>
            
            <div data-role="footer" class="ui-footer ui-bar-a" role="contentinfo" data-theme="{{#theme}}{{base}}{{/theme}}" data-position="fixed">
            	<p class="ui-title" role="heading" aria-level="1">{{footer}}</p>
            </div>
        </div>
        

        {{#pages}}
        <div data-role="page" id="page-{{id}}" data-theme="{{#theme}}{{base}}{{/theme}}">
            <div data-role="header" class="ui-header" data-theme="{{#theme}}{{base}}{{/theme}}">
                <a href="#home" data-role="button" data-mini="true" data-inline="true" data-icon="home" >Home</a>
                <h1>{{title}}</h1>
            </div> 
            
            <div data-role="content" role="main" class="ui-content">
                    {{{_content_}}}
            </div>
        </div>
        {{/pages}}

    </body>
</html>
