<!--
	@author: Go Móvil. www.go-movil.es 
	@date: June, 2012
	@name: Dropdown menu
	@description: Theme for jQuery Mobile. A template with a dropdown menu for navigation.
-->

<html>
    <head>
        
	    <meta charset="UTF-8" />
	    <title>{{name}}</title>
		{{{_includes_}}}
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script>
        $(document).ready(function() {
		  $("#goto").change(function(){
		    if ($(this).val()!='') {
		      window.location.href='#'+$(this).val();
		      //console.log($(this).val());
		    }
		  });
		});
        </script>
	</head>
	<body>
		
		<div data-role="page" class="general-view" id="home" data-theme="{{#theme}}{{base}}{{/theme}}">
			<div data-role="header" class="ui-header" data-theme="{{#theme}}{{base}}{{/theme}}"  data-position="fixed">
			    <h1>{{header}}</h1>
			</div>
			<div data-role="content" class="center">
				<!-- Logo / Main homepage image -->
				<img class="center" src="{{topImage}}" /> 
				<p></p>
				<!-- Tagline -->
				<h4 class="center">{{tagline}}</h4>
			</div>
								
			<div data-role="content">
				<!-- Menu -->
				<select id='goto' data-native-menu="false">
					<option data-placeholder="true">Menu</option> 
					{{#pages}}
						<option value="page-{{id}}">{{title}}</option>
					{{/pages}}
				</select>
			</div>
			
			<div data-role="footer" class="ui-footer ui-bar-a" role="contentinfo" data-theme="{{#theme}}{{base}}{{/theme}}" data-position="fixed">
				<h6 class="ui-title" role="heading" aria-level="1">{{footer}}</h6>
			</div>
		</div>
		
		{{#pages}}
		<div data-role="page" id="page-{{id}}" data-theme="{{#theme}}{{base}}{{/theme}}">
		    <div data-role="header">
		        <h1>{{title}}</h1>
		        <a href="#home" data-direction="reverse" data-icon="arrow-l" class="ui-btn-bck" >Home</a>
		    </div> 
		    <div data-role="content" role="main" class="ui-content" data-theme="{{#theme}}{{base}}{{/theme}}">
		    	{{{_content_}}}
		    </div>
		</div>
		{{/pages}}
	</body>
</html>
