<html>
	<head>
	    <meta charset="UTF-8" />
	    <title>{{name}}</title>
		{{{_includes_}}}
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		
		<div data-role="page" class="general-view page" id="home" data-theme="{{#theme}}{{base}}{{/theme}}">
		
			<div data-role="header" class="ui-header header"data-position="fixed" data-theme="{{#theme}}{{base}}{{/theme}}">
				<h1>{{name}}</h1>
			</div>
			
			<p></p>
			<p class="center"><img src="{{topImage}}" /></p>
			<p></p>
			<h4 class="center">{{tagline}}</h4>
			<p></p>
			

			<div class="ui-content" data-role="content">
				<p><img class="center" src="{{topImage}}" /></p>
				
				{{#pages}}
				<div id="#page-{{id}}">
					<div data-role="collapsible">
					   <h3>{{title}}</h3>
					   <p>{{{_content_}}}</p>
					</div>
				</div>
				{{/pages}}		
			</div>
			
			<div data-role="footer" class="ui-footer ui-bar-a" role="contentinfo" data-theme="{{#theme}}{{base}}{{/theme}}" data-position="fixed">
				<h4 class="ui-title" role="heading" aria-level="1">{{footer}}</h4>
			</div>			
		</div>
		
	</body>
</html>
