<html>
	<head>
	    <meta charset="UTF-8" />
	    <title>{{name}}</title>
		{{{_includes_}}}
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		
		<div data-role="page" class="general-view" id="home" data-theme="{{#theme}}{{base}}{{/theme}}">
		
			<div data-role="header" class="ui-header"data-position="fixed" data-theme="{{#theme}}{{base}}{{/theme}}">
				<a href="#" class="ui-btnleft">Logo</a>
				<h1>{{name}}</h1>
				<!--<a href="" data-icon="gear" class="ui-btn-right">Menu</a>-->
			</div>

			
			{{#pages}}
				<div class="ui-content bottom-pages" data-role="content">
					<div id="#page-{{id}}">
						<h2>{{title}}</h2>
						<p>{{{_content_}}}</p>
					</div>
				</div>
			{{/pages}}
			
			
			<div class="ui-footer" data-role="footer" data-theme="{{#theme}}{{base}}{{/theme}}">
                <p>&copy; {{slug}}</p>
			</div>
		</div>
		
	</body>
</html>
