<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{name}}</title>
        {{{_includes_}}}
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <script type="text/javascript">
            $(document).bind('pageinit',function(){
                console.log('running');
                var grid = ['ui-block-a', 'ui-block-b', 'ui-block-c'], i = 0;
                $('div.ui-grid-b div').each(function(){
                    $(this).addClass(grid[i]);
                    i++; if (i==3) i=0;
                });
            });
        </script>
    </head>
    <body>

        <div data-role="page" class="general-view" id="home" data-theme="{{#theme}}{{base}}{{/theme}}">

            <div data-role="header" class="ui-header" data-theme="{{#theme}}{{base}}{{/theme}}">
                <h1>{{name}}</h1>
            </div>

            <div class="center">
            	<p></p>
            	<img src="{{topImage}}"/>
            	<p></p>
            </div>
            

            <div data-role="content" class="ui-content">
	            <h2 class="center">{{tagline}}</h2>
	            <p></p>
                <!-- Menu -->
                <div class="ui-grid-b">
                {{#pages}}
                	<div class="ui-block">
                		<a href="#page-{{id}}" data-role="button">{{title}}</a>
                	</div>
                {{/pages}}
                </div>
                
              </div>    
                   	<div data-role="footer" data-theme="{{#theme}}{{base}}{{/theme}}" data-position="fixed">		
        		<h6>{{footer}}</h6>
        	</div>        
        </div>
        

        {{#pages}}
        <div data-role="page" id="page-{{id}}" data-theme="{{#theme}}{{base}}{{/theme}}">
            <div data-role="header" class="ui-header" data-theme="{{#theme}}{{base}}{{/theme}}">
                <a href="#home" data-role="button" data-mini="true" data-inline="true" data-icon="home" >Home</a>
                <h1>{{title}}</h1>
            </div> 
            
            <div data-role="content" role="main" class="ui-content">
                    {{{_content_}}}
            </div>
        </div>
        {{/pages}}

    </body>
</html>
