/* Test template CSS stylesheet */
.button-menu {
	
}

.button-menu a {
	text-decoration: none;
	height: 120px;
	
	/* Crop the text */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.tagline {
	font-size: 18px;
	line-height: 1.3em;
	padding: 15px;
	max-height: none;
	margin: 0 0 5px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 0 1px 1px black;
}
