<!--
	@author: Go Móvil. www.go-movil.es 
	@date: June, 2012 
	@name: Buttons Menu
	@description: Theme for jQuery Mobile. A template with a button based menu.
-->

<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{name}}</title>
        {{{_includes_}}}
        <link  rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>

        <div data-role="page" class="general-view" id="home" data-theme="{{#theme}}{{base}}{{/theme}}">

            <div data-role="header" class="ui-header" data-theme="{{#theme}}{{base}}{{/theme}}" data-position="fixed">
                <h1>{{header}}</h1>
            </div>
            
            <div class="center">
			    <p></p>
                <img src="{{topImage}}" />
			</div>

            <div data-role="content" class="ui-content">
                <!-- Tagline doesn't close -->
                <h4>{{tagline}}</h4>
                
                <!-- Menu--> 
                <p>  
                    {{#pages}}
                    <a href="#page-{{id}}" data-role="button">{{title}}</a>
                    {{/pages}}
                </p>
            </div>

            <div data-role="footer" class="ui-footer ui-bar-a" role="contentinfo" data-theme="{{#theme}}{{base}}{{/theme}}" data-position="fixed">
            	<h6 class="ui-title" role="heading" aria-level="1">{{footer}}</h6>
            </div>
            			
        </div>

        {{#pages}}
        <div data-role="page" id="page-{{id}}" data-theme="{{#theme}}{{base}}{{/theme}}">
            <div data-role="header" data-theme="{{#theme}}{{base}}{{/theme}}">
                <h1>{{title}}</h1>
                <a href="#home" data-direction="reverse" data-icon="arrow-l" class="ui-btn-bck" >Home</a>
            </div> 
            <div data-role="content" role="main" class="ui-content">
                    {{{_content_}}}
            </div>
        </div>
        {{/pages}}
        
        
    </body>
</html>
