<html>
	<head>
	    <meta charset="UTF-8" />
	    <title>{{name}}</title>
		{{{_includes_}}}
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body id="top">
		
		<div data-role="page" class="general-view page" id="home" data-theme="{{#theme}}{{base}}{{/theme}}">
		
			<div data-role="header" class="ui-header header" data-theme="{{#theme}}{{base}}{{/theme}}" >
				<div class="center">
					<a href="#" class="center"><img src="{{topImage}}" />
					</a>
				</div>
				<h1>{{name}}</h1>
				<!--<a href="" data-icon="gear" class="ui-btn-right">Menu</a>-->
			</div>
			
			<p></p>
			<p class="center"><img src="{{topImage}}" width="100px" height="100px"/></p>
			<p></p>
			<h4 class="center">" {{tagline}} "</h4>
		    <p></p>
				
			<div class="ui-content bottom-pages" data-role="content">
								
				{{#pages}}
				<div id="#page-{{id}}">
					<div data-role="header">
						<h2>{{title}}</h2>
						<a href="#top" data-role="button" data-icon="arrow-u" data-iconpos="notext" data-iconpos="right">Top</a>
					</div>
					<div data-role="content">
						<p>{{{_content_}}}</p>
					</div>
				</div>
				{{/pages}}
			</div>
			
			<div class="ui-footer" data-role="footer" data-theme="{{#theme}}{{base}}{{/theme}}">
                <p class="center">footer {{footer}}</p>
                <!--
                <div class="section">
                	<div class="center">
                		<div class="share-subdiv share-badges">
                			<a href="#share" class="facebook" data-transition="flip">Facebook</a>
                			<a href="#share" class="twitter" data-transition="flip">Twitter</a>
                			<a href="#share" class="mail" data-transition="flip">Newsletter</a>
                		</div>
                	</div>
                </div>
                -->
			</div>
		</div>
		
	</body>
</html>
