<html>
	<head>
	    <meta charset="UTF-8" />
	    <title>{{name}}</title>
		{{{_includes_}}}
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body id="top">
		
		<div data-role="page" class="general-view page" id="home" data-theme="{{#theme}}{{base}}{{/theme}}">
		
			<div data-role="header" class="ui-header" data-theme="{{#theme}}{{base}}{{/theme}}" >
				<h1>{{header}}</h1>
			</div>

            <div class="center">
            	<p></p>
            	<img src="{{topImage}}"/>
            	<h3>{{tagline}}</h3>
            </div>
				
			<div class="ui-content bottom-pages" data-role="content">
				{{#pages}}
				<div id="#page-{{id}}">
					<div data-role="content">
						<h1>{{title}}</h1>
						<p>{{{_content_}}}</p>
					</div>
				</div>
				{{/pages}}
			</div>
			
			<div data-role="footer" class="ui-footer ui-bar-a" role="contentinfo" data-theme="{{#theme}}{{base}}{{/theme}}">
					<h4 class="ui-title" role="heading" aria-level="1">{{footer}}</h4>
			</div>
			
			    <!-- SOCIAL MEDIA ICONS 
                <div class="section">
                	<div class="center">
                		<div class="share-subdiv share-badges">
                			<a href="#share" class="facebook" data-transition="flip">Facebook</a>
                			<a href="#share" class="twitter" data-transition="flip">Twitter</a>
                			<a href="#share" class="mail" data-transition="flip">Newsletter</a>
                		</div>
                	</div>
                </div>
                -->
		</div>
		
	</body>
</html>
